.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  max-width: 150px; /* Adjusted size for a more compact appearance */
  height: auto;
  margin-bottom: 10px; /* Reduced space below the SVG */
}
